ul{
	list-style: none;
	/* padding-left: 0; */
}

.pd{
	position: relative;
}

.drop-down{
	position: absolute;
	/* display: none; */
}

.drop-down>li{
	display: none;
	background-color: lightgreen;
	z-index: 1;
	width: 100%;
}

a{
	text-decoration: none;
	display: block;
	color: dimgray;
}

a:hover{
	background-color: lightcyan;
}

.pd:hover>ul>li{
	display: block;
}